doctype html
head
    title A Brief History of Time
    link(rel='stylesheet' href='../public/stylesheets/style.css')
h1 Book Details
table
    thead
    tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    tr
        td=book.title
        td=book.author
        td=book.genre
        td=book.year