extends layout

block content
    h2 Are you sure you want to delete #{book.title}?
    form(action=`/books/${book.id}/delete`, method="post")
        p
            input(type='submit' value='Yes, Delete Book')
        p
            a.button(href='/books') No! Cancel